.container {
  width: 100%;
  overflow: auto;
}

.title {
  padding: 1rem;
}

.contents {
  width: 100%;
  /* overflow を許容するコンポーネントの高さを100%で指定してはいけない? */
  /* height: 100%;   */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 959px) {
  /* 959px以下に適用されるCSS（タブレット用） */
  .contents {
    display: flex;
  }
}
@media (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  .contents {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
