.container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.title {
  padding: 1rem;
}

.contents {
  width: 100%;
  /* overflow を許容するコンポーネントの高さを100%で指定してはいけない? */
  /* height: 100%;   */
  @media (min-width: 1000px) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
