.container {
  width: 100%;
  height: 70rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  @media (min-width: 1000px) {
    width: 50%;
  }
}

.contentsWrapper {
  width: 80%;
  height: 80%;
  border-radius: 2rem;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.contents {
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.main {
  width: 100%;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
